@charset "UTF-8";
@import url(../css/libs.min.css);
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Light.eot");
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-MediumItalic.eot");
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("../fonts/Montserrat/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-MediumItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Thin.eot");
  src: local("Montserrat Thin"), local("Montserrat-Thin"), url("../fonts/Montserrat/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.eot");
  src: local("Montserrat ExtraLight Italic"), local("Montserrat-ExtraLightItalic"), url("../fonts/Montserrat/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraLightItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-BoldItalic.eot");
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"), url("../fonts/Montserrat/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-BoldItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.eot");
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url("../fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.eot");
  src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"), url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Italic.eot");
  src: local("Montserrat Italic"), local("Montserrat-Italic"), url("../fonts/Montserrat/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-LightItalic.eot");
  src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url("../fonts/Montserrat/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-LightItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-BlackItalic.eot");
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"), url("../fonts/Montserrat/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-BlackItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.eot");
  src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"), url("../fonts/Montserrat/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBoldItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot");
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Black.eot");
  src: local("Montserrat Black"), local("Montserrat-Black"), url("../fonts/Montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ThinItalic.eot");
  src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"), url("../fonts/Montserrat/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ThinItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Bebas_Neue';
  src: url("../fonts/Bebas_Neue/Bebas_Neue.eot");
  src: local("☺"), url("../fonts/Bebas_Neue/Bebas_Neue.woff") format("woff"), url("../fonts/Bebas_Neue/Bebas_Neue.ttf") format("truetype"), url("../fonts/Bebas_Neue/Bebas_Neue.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: url("../img/background-pages.jpg") 100% 100% no-repeat/cover;
  position: relative;
  padding-bottom: 65px;
  font: 14px "Montserrat";
  color: #ffffff; }

a {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

ul {
  list-style: none; }

section {
  overflow: hidden; }

.button {
  width: 196px;
  height: 48px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: 17px "Montserrat-Medium";
  margin: 0 10px; }
  .button:first-child {
    margin-left: 0; }
  .button:last-child {
    margin-right: 0; }

.button--blue {
  background: #6a99f2; }
  .button--blue:hover {
    -webkit-box-shadow: 0 13px 43px 0 rgba(106, 153, 242, 0.55);
            box-shadow: 0 13px 43px 0 rgba(106, 153, 242, 0.55); }

.button--black {
  background: #222542; }
  .button--black:hover {
    -webkit-box-shadow: 0 13px 43px 0 rgba(34, 37, 66, 0.55);
            box-shadow: 0 13px 43px 0 rgba(34, 37, 66, 0.55); }

.button--orange {
  background: #f79284; }
  .button--orange:hover {
    -webkit-box-shadow: 0 13px 43px 0 rgba(247, 146, 132, 0.55);
            box-shadow: 0 13px 43px 0 rgba(247, 146, 132, 0.55); }

.button--green {
  background: #02c1bb; }
  .button--green:hover {
    -webkit-box-shadow: 0 13px 43px 0 rgba(2, 193, 187, 0.55);
            box-shadow: 0 13px 43px 0 rgba(2, 193, 187, 0.55); }

.button--purple {
  background: #c06af2; }
  .button--purple:hover {
    -webkit-box-shadow: 0 13px 43px 0 rgba(192, 106, 242, 0.55);
            box-shadow: 0 13px 43px 0 rgba(192, 106, 242, 0.55); }

.button--yellow {
  background: #f2b76a; }
  .button--yellow:hover {
    -webkit-box-shadow: 0 13px 43px 0 rgba(242, 183, 106, 0.55);
            box-shadow: 0 13px 43px 0 rgba(242, 183, 106, 0.55); }

header {
  width: 100%;
  height: 105px;
  background: rgba(31, 32, 59, 0.5);
  margin-bottom: 40px; }

.container {
  width: 100%;
  height: 100%;
  max-width: 1170px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto; }

.logo h1 {
  margin: 0;
  font: 500 45px "Bebas_Neue";
  text-transform: uppercase; }
  .logo h1 span {
    color: #fd658d; }

nav {
  width: 900px;
  font: 17px "Montserrat-Regular";
  color: white; }
  nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none; }
    nav ul li a {
      height: 53px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0 25px; }
      nav ul li a:hover, nav ul li a.active {
        background: #414770;
        -webkit-border-radius: 50px;
                border-radius: 50px; }
    nav ul li img {
      margin-right: 15px; }

footer {
  width: 100%;
  height: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(31, 32, 59, 0.3);
  position: absolute;
  bottom: 0; }

.copyright {
  font: 15px "Montserrat-Regular";
  color: #a3a6cb;
  line-height: 1.2; }

.dashboard {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column; }

.current-tasks {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-bottom: 140px; }

.section__header {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  background: none !important; }

.section__title {
  font: bold 30px "Montserrat";
  line-height: 1.2; }

.section__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px; }
  .section__menu li {
    margin-left: 15px; }

table {
  width: 100%;
  border-collapse: collapse;
  overflow-y: auto;
  overflow-x: hidden; }
  table thead tr {
    height: 50px !important; }
  table tr {
    width: 100%;
    height: 58px; }
    table tr:nth-of-type(2n+2) {
      -webkit-border-radius: 20px;
              border-radius: 20px;
      overflow: hidden;
      background-color: #3d416c; }
  table th {
    height: 50px;
    font: 17px "Montserrat-Medium";
    border-right: 1px solid #3d416c;
    background-color: #222542; }
    table th:last-child {
      border-right: none; }
  table td {
    text-align: center;
    font: 15px "Montserrat-Regular"; }
  table td:first-child, table th:first-child {
    -webkit-border-top-left-radius: 20px;
            border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
            border-bottom-left-radius: 20px; }
  table td:last-child, table th:last-child {
    -webkit-border-top-right-radius: 20px;
            border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
            border-bottom-right-radius: 20px; }

.action-menu {
  width: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto; }
  .action-menu a {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .action-menu--blue {
    background: #6a99f2; }
  .action-menu--black {
    background: #222542; }
  .action-menu--orange {
    background: #f79284; }
  .action-menu--green {
    background: #02c1bb; }

.dashboard .id {
  width: 110px; }

.dashboard .log {
  width: 143px; }

.action {
  width: 270px; }

.log--blue {
  color: #2e93f1; }

.log--green {
  color: #02c1bb; }

.bar-buttons {
  width: inherit;
  max-width: 1170px;
  height: 89px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background-color: #222542;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 65px; }

section {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column; }
  section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column; }

.block {
  width: 100%;
  height: auto;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background-color: #222542; }

.block__menu {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #1b1e35; }
  .block__menu li {
    width: 270px;
    height: 100%;
    font: bold 20px "Montserrat";
    text-transform: uppercase; }
    .block__menu li a {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative; }
      .block__menu li a:after {
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        background-color: #02c1bb;
        z-index: 2;
        bottom: -3px;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
      .block__menu li a.active, .block__menu li a:hover {
        color: #02c1bb; }
        .block__menu li a.active:after, .block__menu li a:hover:after {
          width: 100%; }

.tab_content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
  padding-bottom: 88px; }

.type {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 13px 13px 40px; }
  .type li {
    width: 100%;
    height: 202px;
    max-width: 202px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 13px; }
    .type li a {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-border-radius: 30px;
              border-radius: 30px;
      background-color: #323557;
      padding: 45px 20px; }
      .type li a:hover, .type li a.active {
        background: #02c1bb; }
        .type li a:hover svg, .type li a.active svg {
          fill: #fff !important; }

.buttons {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  position: absolute;
  bottom: 0; }

/* form ----------------------------------------------*/
form {
  width: 100%;
  height: 100%;
  padding: 20px 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column; }
  form label {
    width: 100%;
    height: 100%; }

.select-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column; }

.form__elements-wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px; }
  .form__elements-wrap--inner {
    width: 100%;
    height: 100%;
    max-width: 500px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .form__elements-wrap--inner input, .form__elements-wrap--inner select, .form__elements-wrap--inner label, .form__elements-wrap--inner .select-box {
      max-width: 235px; }

.form__title {
  width: 100%;
  text-align: left;
  font: 18px "Montserrat-Medium";
  color: white;
  margin-top: 20px; }

input, select, .select-mod-wrap {
  width: 100%;
  max-width: 500px;
  height: 45px;
  font: 15px "Montserrat-Medium";
  color: #696d99;
  background-color: #323557;
  border: 1px solid #323557;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  outline: none;
  padding: 0 22px;
  margin-top: 10px;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  input:hover, input:active, input:focus, select:hover, select:active, select:focus, .select-mod-wrap:hover, .select-mod-wrap:active, .select-mod-wrap:focus {
    border: 1px solid #02c1bb;
    -webkit-box-shadow: 0 11px 21px 0 rgba(2, 193, 187, 0.13);
            box-shadow: 0 11px 21px 0 rgba(2, 193, 187, 0.13); }

label, .form__checkbox-title, .select-box {
  max-width: 500px; }

.select-mod-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 10px 0 0;
  padding: 0; }
  .select-mod-wrap:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 45px;
    height: 45px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: url("../img/icons/arrow-select.svg") no-repeat center center #02c1bb;
    z-index: 5; }
  .select-mod-wrap select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: transparent;
    margin: 0;
    padding-right: 67px; }
    .select-mod-wrap select:hover, .select-mod-wrap select:active, .select-mod-wrap select:focus {
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none; }
  .select-mod-wrap option {
    color: #ffffff; }
    .select-mod-wrap option:checked {
      color: #ffffff;
      background-color: #1b1d35; }
    .select-mod-wrap option:disabled {
      color: #696d99; }

input {
  color: #ffffff; }
  input:disabled {
    background-color: #1b1d35;
    border: 1px solid #1b1d35;
    color: #323557; }
    input:disabled:hover, input:disabled:active, input:disabled:focus {
      -webkit-box-shadow: none;
              box-shadow: none; }

::-webkit-input-placeholder {
  color: #696d99; }

::-moz-placeholder {
  color: #696d99; }

:-ms-input-placeholder {
  color: #696d99; }

::-ms-input-placeholder {
  color: #696d99; }

::placeholder {
  color: #696d99; }

.form__checkbox-wrap {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 80px; }
  .form__checkbox-wrap input {
    margin: 0; }
    .form__checkbox-wrap input:hover, .form__checkbox-wrap input:active, .form__checkbox-wrap input:focus {
      -webkit-box-shadow: none;
              box-shadow: none; }
  .form__checkbox-wrap input[type=checkbox] {
    width: 23px;
    height: 23px;
    position: absolute;
    z-index: -1;
    opacity: 0; }
  .form__checkbox-wrap input[type=checkbox] + label {
    width: auto;
    position: relative;
    padding: 0 40px 0 38px;
    cursor: pointer; }
    .form__checkbox-wrap input[type=checkbox] + label:last-child {
      padding-right: 0; }
    .form__checkbox-wrap input[type=checkbox] + label:before {
      content: "";
      display: inline-block;
      width: 23px;
      height: 23px;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      -webkit-border-radius: 5px;
              border-radius: 5px;
      background-color: #323557; }
  .form__checkbox-wrap input[type=checkbox]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 23px;
    height: 23px;
    display: inline-block;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background: url(../img/icons/done.svg) no-repeat center center #323557; }

.profiles .tabl {
  height: 100%;
  position: initial !important; }

.tab-profiles {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column; }

.no-more {
  height: 174px !important;
  background: none !important; }
  .no-more td {
    font: bold 30px "Montserrat" !important;
    color: #4c4f6e; }

.wrap-form-block {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 135px; }

.form-block {
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column; }

.payment-card {
  width: 377px;
  height: auto;
  margin: 55px 0 0 40px; }

.proxies .block {
  padding: 40px 70px 0; }

.wrap-tab__proxy {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column; }

.proxies__title {
  width: 100%;
  text-align: left;
  font: 18px "Montserrat-Medium";
  color: white;
  margin-bottom: 12px; }

.monitor-proxies {
  width: 100%;
  height: 402px;
  max-width: 499px;
  background-color: #323557;
  border: 1px solid #02c1bb;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 0 13px 43px 0 rgba(2, 193, 187, 0.1);
          box-shadow: 0 13px 43px 0 rgba(2, 193, 187, 0.1);
  margin-bottom: 50px;
  overflow-y: auto; }

.proxies table {
  width: 100%;
  max-width: 500px;
  border-collapse: collapse; }
  .proxies table tr {
    height: 38px;
    background: none;
    -webkit-border-radius: 0;
            border-radius: 0; }
  .proxies table .proxy {
    width: 370px; }

.proxies .wrap-tab__proxy {
  width: 100%;
  height: 100%;
  min-height: 402px;
  max-width: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  overflow: hidden; }

.proxies .thead {
  width: 100%;
  height: 50px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #323557 !important;
  margin-bottom: 12px;
  text-align: center; }
  .proxies .thead h6 {
    height: 50px;
    font: 17px "Montserrat-Medium";
    line-height: 50px; }
  .proxies .thead .proxy {
    width: 100%;
    max-width: 370px;
    border-right: 1px solid #222542 !important; }
  .proxies .thead .speed {
    width: 100%;
    max-width: 130px; }

.proxies .tab-wrap {
  width: 100%;
  height: 340px;
  max-width: 500px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background: #02c1bb;
  padding: 10px 0;
  overflow-y: auto; }

.proxies .select-proxies {
  width: 165px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  position: absolute;
  bottom: 43px;
  right: 0; }
  .proxies .select-proxies .select-mod-wrap {
    margin-top: 0; }

.proxies .buttons-proxy {
  max-width: 830px;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }

.settings-checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0; }

.buttons-settings {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 45px 0 135px 0; }
