.profiles
  .tabl
    height: 100%
    position: initial !important

.tab-profiles
  width: 100%
  height: 100%
  display: flex
  flex-flow: column
.no-more
  height: 174px !important
  background: none !important
  td
    font: bold 30px "Montserrat" !important
    color: rgb(76, 79, 110)


.wrap-form-block
  width: 100%
  height: 100%
  display: flex
  justify-content: space-between
  margin-bottom: 135px
.form-block
  width: 100%
  max-width: 500px
  display: flex
  flex-flow: column
  //align-items: center

.payment-card
  width: 377px
  height: auto
  margin: 55px 0 0 40px

